<div class="row">
  <h1><%= t('.title') %></h1>
</div>
<div class="row">
  <div class="well well-sm">
    <%= render partial: 'shared/show_request_application', locals: { request_application: @request_application } %>
    <%= link_to t('.edit_request_application'), edit_request_application_path(@request_application), class: 'btn btn-primary' %>
  </div>
</div>
<%= form_for(@request_detail, url: request_application_request_details_path) do |f| %>
  <%= render partial: 'shared/application_detail_attributes', locals: { f: f } %>
<% end %>

<%= render partial: 'shared/application_details_table', locals: { request_application: @request_application } %>
