<p id="notice"><%= notice %></p>

<div class="well well-sm">
  <%= render partial: 'shared/show_request_application', locals: { request_application: @request_application } %>
  <%= link_to '管理情報を変更', edit_request_application_path(@request_application), class: 'btn btn-primary' %>
</div>

<%= render partial: 'shared/application_details_table', locals: { request_application: @request_application } %>

<%= form_for(@request_detail, url: request_application_request_details_path) do |f| %>
  <%= render partial: 'shared/application_detail_attributes', locals: { f: f } %>
  <div class="row">
    <div class="actions">
      <%= f.submit '保存して詳細を続けて入力', class:"btn btn-primary", name: 'save_and_insert' %>
      <%= f.submit '保存して終了', class:"btn btn-secondary", name: 'end_regist' %>
    </div>
  </div>
<% end %>
<div class="row">
    <%= link_to '何もせずに終了', registration_result_request_application_path(@request_application), class:"btn btn-default" %>
</div>
