<p id="notice"><%= notice %></p>

<p>
  <strong>DocNo.:</strong>
  <%= @request_detail.doc_no %>
</p>

<p>
  <strong>DocType:</strong>
  <%= @request_detail.doc_type.name %>
</p>

<p>
  <strong>SHT:</strong>
  <%= @request_detail.sht %>
</p>

<p>
  <strong>REV:</strong>
  <%= @request_detail.rev %>
</p>

<p>
  <strong>EO/CHG NO:</strong>
  <%= @request_detail.eo_chgno %>
</p>

<p>
  <strong>ChgType:</strong>
  <%= @request_detail.chg_type&.name %>
</p>

<p>
  <strong>MCL:</strong>
<%= @request_detail.mcl %>
</p>

<p>
  <strong>SCP FOR, SMPL:</strong>
<%= @request_detail.scp_for_smpl %>
</p>

<p>
  <strong>SCML, L/N:</strong>
<%= @request_detail.scml_ln %>
</p>

<p>
  <strong>V/C:</strong>
  <%= @request_detail.vendor_code %>
</p>


<%= link_to 'Edit', edit_request_application_request_detail_path(@request_detail.request_application, @request_detail) %> |
<%= link_to 'Back', registration_result_request_application_path(@request_detail.request_application) %>
