<h1><%= t('.title') %></h1>
<div class="row">
  <div class="well well-sm well-search">
    <%= search_form_for @q, url: matching_request_applications_path, class: "form-inline", method: :get do |f| %>
      <div>
        <%= f.label :management_no %>
      </div>
      <%= f.search_field :management_no_cont, class: "form-control input-sm", placeholder: t('placeholder.partial_match') %>
      <%= f.submit t('.search'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row" style="margin-bottom: 10px;">
  <%= link_to 'Back', request_applications_path %>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <colgroup>
        <col class="col-lg-1"/>
        <col class="col-lg-7"/>
        <col class="col-lg-4"/>
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th><%= label_tag t('activerecord.attributes.request_application.management_no') %></th>
          <th><%= label_tag t('activerecord.attributes.model.code') %></th>
        </tr>
      </thead>
      <tbody>
        <% @request_applications.each do |request_application| %>
          <tr>
            <td class="text-center"><%= link_to t('.matching'), matching_result_request_application_path(request_application), class: 'btn btn-primary' %></td>
            <td><%= request_application.management_no %></td>
            <td><%= request_application.model.code %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
