<%= form_for(@flow) do |f| %>
  <% if @flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flow.errors.count, "error") %> prohibited this flow from being saved:</h2>

      <ul>
      <% @flow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_application_id %><br>
    <%= f.text_field :request_application_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :dept_id %><br>
    <%= f.text_field :dept_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
