<h1>Listing Doc Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_types.each do |doc_type| %>
      <tr>
        <td><%= doc_type.name %></td>
        <td><%= link_to 'Show', doc_type %></td>
        <td><%= link_to 'Edit', edit_doc_type_path(doc_type) %></td>
        <td><%= link_to 'Destroy', doc_type, method: :delete, data: { confirm: t('message.template.delete.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Doc type', new_doc_type_path %>

<p>
  <%= form_tag import_doc_types_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'csv upload' %>
  <% end %>
</p>
