<div class="form-group">
  <div class="row">
    <div class="col-lg-2">
      <%= f.label :management_no %><br>
      <%= f.text_field :management_no, class: 'form-control input-sm' %>
    </div>
    <div class="col-lg-2">
      <%= f.label :project_id %><br>
      <%= f.collection_select :project_id, Project.all, :id, :name, {}, class: 'form-control input-sm' %>
    </div>
    <div class="col-lg-2">
      <%= f.label :model_id %><br>
      <%= f.collection_select :model_id, Model.all, :id, :code, {}, class: 'form-control input-sm select-model'  %>
    </div>
    <div class="col-lg-2">
      <%= f.label :section_id %><br>
      <%= f.collection_select :section_id, Section.all, :id, :name, {}, class: 'form-control input-sm' %>
    </div>
    <div class="col-lg-4">
      <%= f.label :emargency %><br>
      <%= f.check_box :emargency, class: 'checkbox' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <%= f.label :filename %><br>
      <%= f.file_field :filename %>
    </div>
    <div class="col-lg-3 form-inline">
      <%= f.label :request_date %><br>
      <%= f.date_select :request_date, { use_month_numbers: true }, class: 'form-control' %>
    </div>
    <div class="col-lg-3 form-inline">
      <%= f.label :preferred_date %><br>
      <%= f.date_select :preferred_date, { use_month_numbers: true }, class: 'form-control' %>
    </div>
    <div class="col-lg-3">
      <%= f.label :memo %><br>
      <%= f.text_area :memo, class: 'form-control input-sm' %>
    </div>
  </div>
</div>
