<%= form_for(@request_application) do |f| %>
  <% if @request_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_application.errors.count, "error") %> prohibited this request_application from being saved:</h2>

      <ul>
      <% @request_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :management_no %><br>
    <%= f.text_field :management_no %>
  </div>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select :project_id, Dept.projects, :id, :name  %>
  </div>

  <div class="field">
    <%= f.label :vendor_code %><br>
    <%= f.text_field :vendor_code, id: "vendor_id" %>
    <div id="vendor_name"></div>
  </div>

  <div class="field">
    <%= f.label :model_id %><br>
     <%= f.collection_select :model_id, Model.all, :id, :name  %>
  </div>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.collection_select :section_id, Section.all, :id, :name  %>
  </div>



  <div class="field">
    <%= f.label :emargency %><br>
    <%= f.check_box :emargency %>
  </div>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.file_field :filename %>
  </div>

  <div class="field">
    <%= f.label :request_date %><br>
    <%= f.date_select :request_date %>
  </div>
  <div class="field">
    <%= f.label :preferred_date %><br>
    <%= f.date_select :preferred_date %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>


  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
