<h1><%= t('.title') %></h1>

<% unless @request_application.close? %>
  <div class="well well-sm">
    <%= form_for(@request_application) do |f| %>
      <%= render partial: 'shared/request_application_attributes', locals: { f: f } %>
      <%= f.submit t('.update_request_applicaton'), class:"btn btn-primary", data: { action: 'update' } %>
    <% end %>
  </div>
  <%= render partial: 'shared/application_details_table', locals: { request_application: @request_application } %>
<% end %>

<div>
  <%= link_to t('.add_request_detail'), new_request_application_request_detail_path(@request_application) %>
</div>

<%= link_to t('.show'), @request_application %> |
<%= link_to t('.back'), request_applications_path %>
