<p id="notice"><%= notice %></p>

<h1>Listing Request Applications</h1>

<%= render 'search' %>

<table class="table  table-striped">
  <thead>
    <tr>
      
      <th rowspan="2">Management no</th>
      <th>Project</th>
      <th>vendor</th>
      <th>model</th>
      <th>section</th>
      <th>File</th>

      <th rowspan="2">|</th>
       <% @flow_orders.each do |flow_order| %>
        <th rowspan="2">
          <%= flow_order.dept.try(:name).presence || "プロジェクト" %>
        </th>
       <% end %>
      <th rowspan="2"></th>
      <th rowspan="2"></th>
      <th rowspan="2"></th>
      <th rowspan="2"></th>

    </tr>
    <tr>
      <th>E!</th>
      <th><%= sort_link(@q, :close) %></th>
      <th>Request date</th>
      <th>Preferred date</th>

    </tr>
  </thead>

  <tbody>
    <% @request_applications.each do |request_application| %>
    <% current_order = request_application.current_order %>
      <tr>
        <td rowspan="2"><%= request_application.management_no %></td>
        <td><%= request_application.project.try(:name) %></td>
        <td><%= "#{request_application.vendor.try(:name)} ( #{request_application.vendor.try(:code)} )" %></td>
        <td><%= request_application.model.try(:code) %></td>
        <td><%= request_application.section.try(:name) %></td>
        <td><%= (link_to "Download" , request_application.filename_url) if request_application.filename_url.present? %></td>

        <td rowspan="2">|</td>
        <% request_application.flows.latest_flows(Flow.latest_ids(request_application.id)).each do |flow| %>
        <td rowspan="2">
          <%= ( flow.progress.try(:in_date) || (link_to 'Start', regist_progress_path(request_application), class:"btn btn-warning btn-xs" unless request_application.close?
 )) %><br>
          <%= ( flow.progress.try(:out_date) || (link_to 'End', regist_memo_path(request_application), class:"btn btn-warning btn-xs"  unless (flow.progress.try(:in_date).blank?  ||  request_application.close?  || current_order != flow.order) ) ) %> 
        </td>
         <% end %>
         <% (@flow_orders.count - request_application.flows.maximum(:order)).times do %>
          <td rowspan="2"></td>
         <% end %>

        <td rowspan="2"><%= link_to 'Show', request_application %>
        <%= (link_to 'Edit', edit_request_application_path(request_application)) unless request_application.close? %>
        <%= (link_to 'Destroy', request_application, method: :delete, data: { confirm: 'Are you sure?' })  if request_application.delete_permit? %>
      </td>
        <td  rowspan="2"><%= link_to "差戻" , reject_memo_path(request_application) if request_application.flows.order(:history_no).last.reject? %></td>
        <td rowspan="2"><%= link_to "最初に差戻" , revert_memo_path(request_application) if request_application.flows.order(:history_no).last.first_to_revert? %></td>
        <td rowspan="2"><%= link_to "中断" , interrupt_memo_path(request_application)  if request_application.interrupt_permit? %></td>

      </tr>
      <tr>
        <td><%= "緊急" if request_application.emargency %></td>
        <td><%= request_application.close_status %></td>
        <td><%= request_application.request_date %></td>
        <td><%= request_application.preferred_date %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request application', new_request_application_path ,class: "btn btn-default" %>
