<div class="row">
  <h1><%= t('.title') %></h1>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t('.new_request_application') %></div>
    <div class="panel-body new-request-panel">
      <div class="row">
        <div class="col-lg-2 text-center">
          <%= link_to t('.manual_input'), new_request_application_path, class: 'btn btn-default manual-input-btn' %>
        </div>
        <div class="col-lg-10">
          <div class="panel panel-default">
            <div class="row panel-inner-row">
              <%= form_tag import_excel_request_applications_path, multipart: true do %>
                <div class="col-lg-2">
                  <%= label_tag :file, t('.reference'), class: 'btn btn-default reference-btn' %>
                </div>
                <div class="col-lg-4">
                  <%= text_field_tag :file_name, nil, class: 'form-control', readonly: true %>
                  <%= file_field_tag :file, accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', style: 'display: none' %>
                </div>
                <div class="col-lg-6">
                  <%= submit_tag t('.import_excel'), class: 'btn btn-primary'  %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'search' %>

<div class="row">
  <table class="table table-striped">
    <colgroup>
      <col class="col-lg-2" />
      <col class="col-lg-2" />
      <col class="col-lg-2" />
      <col class="col-lg-1" />
      <col class="col-lg-1" />
      <col class="col-lg-2" />
      <col class="col-lg-2" />
    </colgroup>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.request_application.management_no') %></th>
        <th><%= t('activerecord.attributes.request_application.model') %></th>
        <th><%= t('activerecord.attributes.request_application.section') %></th>
        <th><%= t('activerecord.attributes.request_application.request_date') %></th>
        <th><%= t('activerecord.attributes.request_application.preferred_date') %></th>
        <th><%= t('activerecord.attributes.request_application.file') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @request_applications.each do |request_application| %>
        <tr>
          <td><%= request_application.management_no %></td>
          <td><%= request_application.model&.code %></td>
          <td><%= request_application.section&.name %></td>
          <td><%= request_application.request_date %></td>
          <td><%= request_application.preferred_date %></td>
          <td><%= (link_to 'Download', request_application.filename_url) if request_application.filename_url.present? %></td>
          <td>
            <%= (link_to t('template.edit'), edit_request_application_path(request_application)) %>
            <%= (link_to t('template.destroy'), request_application, method: :delete, data: { confirm: 'Are you sure?' }) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
