<!DOCTYPE html>
<html>
<head>
  <title>DenshowQuick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
</head>
<body>

<div class="container">

  <span> <%= link_to '進捗状況', request_applications_path %></span>　｜　
  <span> <%= link_to '部署/プロジェクト', depts_path %></span>　
  <span> <%= link_to 'ベンダー', vendors_path %></span>　
  <span> <%= link_to '機種', models_path %></span>　
  <span> <%= link_to '担当課', sections_path %></span>　｜　
  <span> <%= link_to 'フロー順登録', flow_orders_path %></span>
  <hr>
  <%= yield %>
</div>
</body>
</html>
